<h3>{{ _('Signal Notifier Configuration') }}</h3>

<form class="form-horizontal">
	<div class="control-group">
		<div class="controls" title="{{ _('You can toggle whether notifications are enabled while a print is in progress.') }}">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.signalnotifier.enabled" /> {{ _('Enabled') }}
			</label>
		</div>
	</div>

	<h4>{{ _('Signal Settings') }}</h4>

	<div class="control-group" title="{{ _('path to signal-cli') }}">
		<label class="control-label">{{ _('path to signal-cli') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalnotifier.path">
		</div>
	</div>

	<div class="control-group" title="{{ _('sender') }}">
		<label class="control-label">{{ _('sender') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalnotifier.sender">
		</div>
	</div>

	<div class="control-group" title="{{ _('recipient') }}">
		<label class="control-label">{{ _('recipient') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalnotifier.recipient">
		</div>
	</div>

	<p>{{ _('To send to an individual, the recipient should be the phone number beginning with a "+". To send to a group, enter the group ID') }}</p>

	<h4>{{ _('Message Content') }}</h4>

	<p>{{ _('The template may contain the tags <code>{user}</code>, <code>{host}</code>, <code>{filename}</code>, <code>{elapsed_time}</code>.') }}</p>

	<div class="control-group" title="{{ _('Content of notification email') }}">
		<label class="control-label">{{ _('Body') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalnotifier.message_format.body">
		</div>
	</div>
</form>
